@model IEnumerable<CodeFirst.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cli_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cli_Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cli_Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cli_Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cli_Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cli_Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cli_Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cli_Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cli_Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cli_Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cli_Id" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cli_Id" class="btn btn-primary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Cli_Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
